@font-face {
    font-family: "DigitalMonospace";
    src: url("fonts/digitalmonospace.ttf");
}

@font-face {
    font-family: "Tahoma";
    src: url("fonts/tahoma.ttf");
}

* {
    user-select: none;
}

#bars {
    /* border: 1px solid red; */
    margin-top: 17%;
}

#debugContainer {
    border: 5px solid darkorange;
    margin-top: -25px;
    height: 275px;
}

.hidden {
    display: none;
}