.socContainer {
    width: 100%;
    padding-bottom: 2px;
    /* border: 1px solid white; */
    /* margin-top: 0%; */
    
}

#socText {
    position: absolute;
    font-family: DigitalMonospace;
    font-size: 50px;
    margin-top: -8.5%;
    margin-left: 21.5%;
}

#socLabel {
    position: absolute;
    font-family: Tahoma;
    margin-top: -13%;
    margin-left: 21.5%;
    font-size: 25px;
}