@font-face {
    font-family: "DigitalMonospace";
    src: url("../fonts/digitalmonospace.ttf");
}

@font-face {
    font-family: "Tahoma";
    src: url("../fonts/tahoma.ttf");
}

.rpmContainer {
    width: 100%;
    /* border: 1px solid red; */
}

.rpmSVGBox {
    padding-left: 5px;
}

#rpmText {
    position: absolute;
    left: 25%;
    top: 2%;
    font-family: DigitalMonospace;
    font-size: 80px;
    text-align: right;
}

.rpmContainer p {
    font-family: Tahoma;
    font-size: 25px;
    position: absolute;
}

#rpm2k {
    left: 24.5%;
    top: 1.7%;
}

#rpm4k {
    top: 0.4%;
    left: 48.5%;
}

#rpm6k {
    top: 0.4%;
    left: 72.5%;
}

#rpmScale {
    top: -2%;
    font-size: 20px;
}
